.h1class {
  margin-top: 90px;
}

.wholeContent {
  margin: auto;
  width: 60%;

  margin-top: 90px;
}

.im {
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
}

.check {
  align-self: flex-start;
}

.bGroup {
  align-self: flex-end;
}
