.container {
  padding-top: 5%;
  margin-left: 35%;
}

.heading{
  text-align: center;
  font-size: 35px;
  padding-top: 100px;
  font-family: Arial, serif;
}

.textInput{
  max-width: 40%;
}

.dialogContainer{
  padding-left: 35%;
}

.dialogLabel{
  padding: 0;
  margin: 0;
}

.buttons{
  margin: 20px;
}

.buttonContainer{
  display: flex;
  margin: auto;
  position: relative;
  max-width: 40%;
  padding-left: 4%;
}

@media (max-width: 1500px) {
  .test{
    padding-top: 30px;
  }
  .heading{
    font-size: 30px;
    padding-top: 70px;
  }
}

@media (max-width: 1000px) {
  .test{
    padding-top: 30px;
  }
  .heading{
    font-size: 25px;
    padding-top: 50px;
  }
}

@media (max-width: 700px) {
  .test{
    padding-top: 30px;
  }
  .heading{
    font-size: 20px;
    padding-top: 30px;
  }
  .dialogContainer{
     width: 50px;
  }
  .textInput{
    max-width: 95%;
  }
  .container {
    padding-top: 5%;
    margin-left: 5%;
  }
  .dialogContainer{
    padding-left: 5%;
  }
  .dialogLabel{
    width: 220px;
  }

  .buttons{
    border: red;
  }
  .buttonContainer{
    display: flex;
    margin: auto;
    position: relative;
    max-width: 100%;
    padding-left: 0;
  }
}

.typographyStyle{
  position: relative;
  background-color: rgba(0,0,0,0);
}