.container {
  padding-top: 1%;
  margin-left: 35%;
}

.test{
  padding-top: 50px;
}

.heading{
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
  font-family: Arial, serif;
}

.textInput{
  max-width: 40%;
}

.dialogContainer{
  padding-left: 35%;
}

.dialogLabel{
  padding: 0;
  margin: 0;
}

@media (max-width: 1500px) {
  .test{
    padding-top: 90px;
  }
  .heading{
    font-size: 30px;
    padding-top: 70px;
  }
}

@media (max-width: 1000px) {
  .test{
    padding-top: 85px;
  }
  .heading{
    font-size: 25px;
    padding-top: 50px;
  }
}

@media (max-width: 700px) {
  .test{
    padding-top: 80px;
  }
  .heading{
    font-size: 20px;
    padding-top: 30px;
  }
  .dialogContainer{
    width: 50px;
  }
}

.typographyStyle{
  position: relative;
  background-color: rgba(0,0,0,0);

}
