.container {
  padding: 5%;
}

.test{
  padding-top: 100px;
}

.heading{
  text-align: center;
  margin: auto;
  font-size: 35px;
}

.textInput{
  max-width: 40%;
}

@media (max-width: 1500px) {
  .test{
    padding-top: 90px;
  }
  .heading{
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .test{
    padding-top: 85px;
  }
  .heading{
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .test{
    padding-top: 80px;
  }
  .heading{
    font-size: 20px;
  }
}

.typographyStyle{
  position: relative;
}